@import '../_variables'; 
.skills {
    color: $color-1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    background-color: $color-4;
}
.skills-container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    justify-content: center;
    padding: 20px;
    height: auto; 
    margin-top: 2em;
}
