@import '../_variables'; 
.skills {
    color: $color-1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    background-color: $color-4;
}
.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3.33%;
    justify-content: center;
    padding: 20px;
    height: auto; 
    margin-top: 2em;

    
    @media (min-width: 1200px) { 
        .skill-card {
            flex: 0 0 calc(30% - 20px); 
        }
    }

    @media (max-width: 1199px) and (min-width: 768px) { 
        .skill-card {
            flex: 0 0 calc(50% - 20px); 
        }
    }

    @media (max-width: 767px) { 
        .skill-card {
            flex: 0 0 100%; 
        }
    }
}
