
$font-white: #FFF;
$black-font: #141d26;
$font-color: #FFF;
$color-white: #e4ecf3;
$color-white2: #dae9f8;
$color-1: #243447;
$color-2: #80a5d3;
$color-3: #FFF;
$color-4: #eff6ff;
$color-5: #688dbb;
